.card_header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.cardTag_Container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5rem;
}
